@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico');
@import-normalize;

:root {
    --primary--50: #E8EAF6;
    --primary--100: #C5CAE9;
    --primary--200: #9FA8DA;
    --primary--300: #7986CB;
    --primary--400: #5C6BC0;
    --primary--500: #3F51B5;
    --primary--600: #3949AB;
    --primary--700: #303F9F;
    --primary--800: #283593;
    --primary--900: #1A237E;
    --primary--A100: #8C9EFF;
    --primary--A200: #536DFE;
    --primary--A400: #3D5AFE;
    --primary--A700: #304FFE;
    --primary: #fedbd0;
    --primary--dark: #442c2e;
    --primary--light: #feeae6;
    --white: #fff;
    --black: #000;
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
    background-color: var(--white);
    color: var(--primary--dark);
    font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

.logo {
    @include fluid-type($min_width, $max_width, $max_font, $max_font);
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: var(--primary--light);
}

.app-header {
    padding: 10px;
    background-color: var(--primary--dark);
    color: var(--primary--50);
}

.u-container {
  padding: 20px; }

.u-container--wide {
  padding: 5px 0; }

.u-clean-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.u-flex {
  display: -webkit-box;
  display: flex;
  flex: 1 1 auto; }

.u-flex--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.u-flex--nowrap {
  flex-wrap: nowrap;
  width: 100%; }

.u-flex__container {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  flex-direction: column;
  position: relative;
  width: 100%; }
  .u-flex__container .u-flex--full-width {
    flex: 1 100%; }

.u-flex__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column; }

.u-flex-content--stretch {
  align-items: stretch; }

.u-flex-direction--row {
  flex-direction: row; }

.u-flex-direction--column {
  flex-direction: column; }

.u-flex-direction--row-reverse {
  flex-direction: row-reverse; }

.u-flex-direction--column-reverse {
  flex-direction: column-reverse; }

.u-flex-align-self--auto {
  align-self: auto; }

.u-flex-align-self--flex-start {
  align-self: flex-start; }

.u-flex-align-self--flex-end {
  align-self: flex-end; }

.u-flex-align-self--center {
  align-self: center; }

.u-flex-align-self--baseline {
  align-self: baseline; }

.u-flex-align-self--stretch {
  align-self: stretch; }

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary--A700);
  color: #fff; }


.c-bar__container {
  background-color: var(--primary--50);
  height: 5px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden; }

.c-bar__value {
  background-color: var(--primary--A700);
  width: 0;
  height: 5px;
  border-radius: 3px;
  overflow: hidden;
  transition: width 2s ease-in-out 0.5s; }

.c-bar__value-1 {
  width: 1%; }

.c-bar__value-2 {
  width: 2%; }

.c-bar__value-3 {
  width: 3%; }

.c-bar__value-4 {
  width: 4%; }

.c-bar__value-5 {
  width: 5%; }

.c-bar__value-6 {
  width: 6%; }

.c-bar__value-7 {
  width: 7%; }

.c-bar__value-8 {
  width: 8%; }

.c-bar__value-9 {
  width: 9%; }

.c-bar__value-10 {
  width: 10%; }

.c-bar__value-11 {
  width: 11%; }

.c-bar__value-12 {
  width: 12%; }

.c-bar__value-13 {
  width: 13%; }

.c-bar__value-14 {
  width: 14%; }

.c-bar__value-15 {
  width: 15%; }

.c-bar__value-16 {
  width: 16%; }

.c-bar__value-17 {
  width: 17%; }

.c-bar__value-18 {
  width: 18%; }

.c-bar__value-19 {
  width: 19%; }

.c-bar__value-20 {
  width: 20%; }

.c-bar__value-21 {
  width: 21%; }

.c-bar__value-22 {
  width: 22%; }

.c-bar__value-23 {
  width: 23%; }

.c-bar__value-24 {
  width: 24%; }

.c-bar__value-25 {
  width: 25%; }

.c-bar__value-26 {
  width: 26%; }

.c-bar__value-27 {
  width: 27%; }

.c-bar__value-28 {
  width: 28%; }

.c-bar__value-29 {
  width: 29%; }

.c-bar__value-30 {
  width: 30%; }

.c-bar__value-31 {
  width: 31%; }

.c-bar__value-32 {
  width: 32%; }

.c-bar__value-33 {
  width: 33%; }

.c-bar__value-34 {
  width: 34%; }

.c-bar__value-35 {
  width: 35%; }

.c-bar__value-36 {
  width: 36%; }

.c-bar__value-37 {
  width: 37%; }

.c-bar__value-38 {
  width: 38%; }

.c-bar__value-39 {
  width: 39%; }

.c-bar__value-40 {
  width: 40%; }

.c-bar__value-41 {
  width: 41%; }

.c-bar__value-42 {
  width: 42%; }

.c-bar__value-43 {
  width: 43%; }

.c-bar__value-44 {
  width: 44%; }

.c-bar__value-45 {
  width: 45%; }

.c-bar__value-46 {
  width: 46%; }

.c-bar__value-47 {
  width: 47%; }

.c-bar__value-48 {
  width: 48%; }

.c-bar__value-49 {
  width: 49%; }

.c-bar__value-50 {
  width: 50%; }

.c-bar__value-51 {
  width: 51%; }

.c-bar__value-52 {
  width: 52%; }

.c-bar__value-53 {
  width: 53%; }

.c-bar__value-54 {
  width: 54%; }

.c-bar__value-55 {
  width: 55%; }

.c-bar__value-56 {
  width: 56%; }

.c-bar__value-57 {
  width: 57%; }

.c-bar__value-58 {
  width: 58%; }

.c-bar__value-59 {
  width: 59%; }

.c-bar__value-60 {
  width: 60%; }

.c-bar__value-61 {
  width: 61%; }

.c-bar__value-62 {
  width: 62%; }

.c-bar__value-63 {
  width: 63%; }

.c-bar__value-64 {
  width: 64%; }

.c-bar__value-65 {
  width: 65%; }

.c-bar__value-66 {
  width: 66%; }

.c-bar__value-67 {
  width: 67%; }

.c-bar__value-68 {
  width: 68%; }

.c-bar__value-69 {
  width: 69%; }

.c-bar__value-70 {
  width: 70%; }

.c-bar__value-71 {
  width: 71%; }

.c-bar__value-72 {
  width: 72%; }

.c-bar__value-73 {
  width: 73%; }

.c-bar__value-74 {
  width: 74%; }

.c-bar__value-75 {
  width: 75%; }

.c-bar__value-76 {
  width: 76%; }

.c-bar__value-77 {
  width: 77%; }

.c-bar__value-78 {
  width: 78%; }

.c-bar__value-79 {
  width: 79%; }

.c-bar__value-80 {
  width: 80%; }

.c-bar__value-81 {
  width: 81%; }

.c-bar__value-82 {
  width: 82%; }

.c-bar__value-83 {
  width: 83%; }

.c-bar__value-84 {
  width: 84%; }

.c-bar__value-85 {
  width: 85%; }

.c-bar__value-86 {
  width: 86%; }

.c-bar__value-87 {
  width: 87%; }

.c-bar__value-88 {
  width: 88%; }

.c-bar__value-89 {
  width: 89%; }

.c-bar__value-90 {
  width: 90%; }

.c-bar__value-91 {
  width: 91%; }

.c-bar__value-92 {
  width: 92%; }

.c-bar__value-93 {
  width: 93%; }

.c-bar__value-94 {
  width: 94%; }

.c-bar__value-95 {
  width: 95%; }

.c-bar__value-96 {
  width: 96%; }

.c-bar__value-97 {
  width: 97%; }

.c-bar__value-98 {
  width: 98%; }

.c-bar__value-99 {
  width: 99%; }

.c-bar__value-100 {
  width: 100%; }

.c-button a {
  color: inherit; }

.c-button--1-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-basis: 33%;
  align-items: center;
  justify-content: center; }