.c-card {
  background-color: #fff;
  border-bottom: 2px solid var(--primary);
  margin: 0 -20px 30px -20px;
}

.c-card--colourfull {
  background-color: var(--primary--light);
}

.c-card--colourfull-enhanced {
    .c-card__header {
        border-top: 1px solid var(--primary--dark);
        border-bottom: 1px solid var(--primary--dark);
    }
}

.c-card__header {
  color: var(--primary--dark);
  background-color: var(--primary);
  padding: 10px;
  font-family: 'Pacifico', cursive;
}

.c-card__feed {
  margin: 10px; 
}

.c-card__event {
  margin-bottom: 10px; 
}

